.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination_item {
  background: transparent;
  border-radius: 50%;
  width: 32px;
  height: 30px;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.pagination_item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #747474;
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.pagination_item.active {
  background: #F9E547;
  span{
    font-weight: 600;
    color: #424242;
  }
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}