.switcher_container{
  .switcher_item{
    color: #97999B;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    &.active_lang{
      color: #3B3C3E;
    }
    &:first-child{
      margin: 0 17px 0 0;
    }
  }
}

@media only screen and (max-width: 1600px){
  .switcher_container{
    .switcher_item{
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1280px){
  .switcher_container{
    .switcher_item{
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 768px){
  .switcher_container{
    display: none;
    opacity: 0;
    //transition: opacity 2s linear;
    //&.relative_switcher{
    //  position: absolute;
    //  right: 0;
    //  display: flex;
    //  z-index: 21;
    //  opacity: 1;
    //  margin: 0 20px 0 0;
    //}
    .switcher_item{
    }
  }
}

@media only screen and (max-width: 530px){
  .switcher_container{
    transition: opacity 4s linear;
    &.relative_switcher{
      margin: 0 30px 0 0;
    }
  }
}