.switcher_container{
  .switcher_item{
    color: #97999B;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    &.active_lang{
      color: #3B3C3E;
    }
    &:first-child{
      margin: 0 17px 0 0;
    }
  }
}

@media only screen and (max-width: 1600px){
  .switcher_container{
    .switcher_item{
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1280px){
  .switcher_container{
    .switcher_item{
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 768px){
  .switcher_container{
    display: none;
    .switcher_item{
    }
  }
}