 //--------------------------------------------------------//
//                      COMMON COLORS                     //
//--------------------------------------------------------//
$color_dark_blue: 			#00416F;
$color_grey: 	  			#777777;
$color_border: 	  			#cccccc;
$color_border_light:		#E2E2E2;
$color_headings:  			#00426d;
$color_grey_lighter: 		#C7CCCF;
$color_dark_grey: 			#4F595C;


//vodien
$color_red: #d71920;
$color_red_dark: #BD0F12;
$color_blue: #2e628e;
$color_blue_dark: #204d74;
$color_blue_light: #41AEDC;
$color_orange: #DF5C00;

$color_bg_grey: #edf2f4;

$color_yellow: #fed445;

$color_green: #43ae49;

$color_green_light: #8ad28e;

$color_green_dark: #66A492;

//grey colors
$color_grey_dark: #2f2f2f;

//black colors
$color_black_light: #272727;

$color_link: #3597c1;

$color_text: #2B2B2B;
$color_text_v2: #342e37;
