//--------------------------------------------------------
// FONT FAMILIES
//--------------------------------------------------------
$font_family_roboto: 'Roboto', sans-serif;
$font_family_montserrat: 'Montserrat', sans-serif;

$font_default: $font_family_roboto;
$font_heading: $font_family_montserrat;

//--------------------------------------------------------
// COMMON FONT SIZES
//--------------------------------------------------------
$fz_base: 17px;
$fz_base_xxl: 18.214px;
